---

import MainLayout from '../layouts/Layout.astro';
---

<MainLayout title="Restablecer Contraseña">
  <h1 class="text-2xl font-bold text-[#4F774D] mb-6 text-center">¿Olvidaste tu Contraseña?</h1>
  
  <form action="#" method="POST" class="space-y-4">
    <!-- Correo -->
    <div>
      <label for="correo" class="block text-sm font-medium text-[#A16436]">Correo</label>
      <input type="email" id="correo" name="correo" required class="mt-1 block w-full px-3 py-2 border border-[#D9D9D9] rounded-md shadow-sm focus:outline-none focus:ring-[#4F774D] focus:border-[#4F774D]" />
    </div>

    <!-- Botón para enviar el enlace de restablecimiento -->
    <div class="flex justify-center">
      <button type="submit" class="px-4 py-2 bg-[#4F774D] text-white font-semibold rounded-md shadow-md hover:bg-[#679c65] focus:outline-none focus:ring-2 focus:ring-[#4F774D] focus:ring-opacity-50">
        Enviar Enlace de Restablecimiento
      </button>
    </div>
  </form>

  <!-- Enlace al inicio de sesión -->
  <div class="mt-4 text-center">
    <p class="text-sm">¿Recordaste tu contraseña? 
      <a href="/login" class="text-[#8AB6D6] hover:text-[#4F774D]">Iniciar Sesión</a>
    </p>
  </div>
</MainLayout>
